@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ul li {
    list-style: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #656565;
}


body {
    font-size: 14px;
    color: #656565
}

.conteiner {
    max-width: 1480px;    
    padding: 0 142px;
    margin: 0 auto;
    margin-bottom: 10px;    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    display: inline-block;
    padding: 15px 20px;
    padding-left: 0;
}

header ul li a {
    color: #656565;
}

header ul li a:hover {
    color: #83A5FF;
    transition: 0.3s;
}

span {
    color: #83A5FF;
}

hr {
    width: 100%;
    height: 1px;
    border: 1px solid #83A5FF;
    margin-bottom: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.logo img {
    width: 98px;
    height: 46px;
    margin-right: 10px;    
}

/* Кнопка */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 46px;
    border-radius: 30px;
    background-color: #83A5FF;
    cursor: pointer;
    padding: 10px; 
    margin-right: 10px;      
}

button:hover {    
    background-color: #a8bfff;
    transition: 0.3s;     
}

.site-bar {
    font-size: 16px;
    color: #ffff;
    padding-right: 10px;
}

.catalog-text {
    font-size: 16px;
    color: #ffff;
}

/* Строка поиска */

.search-catalog-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 46px;
    border: none;
    border-radius: 30px;
    border: 2px solid #83A5FF;    
}

.search-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 46px;
    border: none;
    border-radius: 30px;
    border: 2px solid #83A5FF;    
}

.form_input {
    width: 100%;
    height: 100%;
}

.form_input {
    width: 90%;
    border: none;
    outline: none;
    padding: 5px 5px;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
    padding-left: 10px;       
}


/* Кнопка поиска */

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 2px 2px; 
    background-color: #83A5FF;   
}

.search-btn i {
    font-size: 16px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Иконки-меню: регистрация, войти, избранное, корзина */

.information-block {
    display: flex;
    align-items: center;             
}

.entrance {
    justify-content: center;
    text-align: center;
    padding-left: 20px; 
       
}

.entrance p a:hover {
    color: #83A5FF;
    transition: 0.3s;
}

.icons-id {
    color: #83A5FF;
    padding-bottom: 13px;
}

/* Основной баннер */

.slider {
    max-width: 1280px;
    height: 427px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 35px;
    border-radius: 30px;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img {
    max-width: 1280px;    
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    cursor: pointer;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active{
    width: 30px;
}

/* Категории товаров */

.card {
    transition: transform .3s; 
}

.card:hover {
    transform: scale(1.05)  
}

.categories-text p {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;    
}

.categories-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.foto-card {
    width: 290px auto;
    cursor: pointer;       
}

.foto-card img {
    width: 290px auto;
    cursor: pointer;
    border-radius: 30px;       
}

.text-card {
    position: absolute;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
}

/* Категории новинки */

.categories-new {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
}

.foto-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #cecdcd;
    width: 100% auto;    
}

.foto-img img {
    width: 80% auto;
    border-radius: 30px; 
    cursor: pointer;       
}

.price {
    text-align: left;
}

.price p {
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 10px;
}

.card-txt {
    display: flex;
    flex-wrap: wrap;
    text-align: left;  
    font-size: 14px;     
}

.card-star {
    color: #83A5FF;
    padding-top: 10px;  
    padding-bottom: 15px;  
}

.img-star {
    color: #83A5FF;
}

.card-btn button {
    width: 80px;
    height: 26px;
    background-color: #83A5FF;
    border-radius: 30px;
}

.card-btn button:hover {
    background-color: #a8bfff;
}

.card-btn p {
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
}

/* Блок бренды */

.brands {
    display: flex;
    gap: 10px;
    align-items: center;    
    justify-content: space-between; 
    width: 100%;          
}

.brands-logo {
    transition: transform .3s;     
}

.brands-logo:hover {
    transform: scale(1.05)       
}

.brands-logo img {
    width: 100% auto;
    cursor: pointer;     
}

/* Блок E-mail */

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 30px;
    background-color: #D9D9D9;
    margin-top: 50px;
}

.email p {
    padding-bottom: 15px;
    font-size: 14px; 
    font-weight: 300;   
}

h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.text-email {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.text-email span {
    color: #292929;
    font-weight: 400;    
}

/* Строка введите email */

.search-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 46px;
    border: none;
    border-radius: 30px;
    border: 2px solid #83A5FF;
    background-color: #ffff;    
}

.form_input {
    width: 100%;
    height: 100%;
}

.form_input {
    width: 90%;
    border: none;
    outline: none;
    padding: 5px 5px;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
    padding-left: 10px;       
}

/* Кнопка подписаться */

.search-btn-email {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    width: 115px;
    height: 40px;
    border-radius: 30px;
    margin: 2px 2px; 
    background-color: #83A5FF;       
}

.search-btn-email p {
    color: #ffff;
    font-size: 14;    
    font-weight: 500;
    justify-content: center; 
    align-items: center; 
    padding: 0;    
}

/* Блок Footer */

.contacts-block {
    display: flex;    
    justify-content: space-between;
    width: 100%;
    height: 190px;
    background-color: #cecdcd;
    margin-top: 50px;    
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;    

}

.company h3 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.company ul li {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
}

.company ul li:hover {
    color: #292929;
    cursor: pointer;
}

.buyer h3 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.buyer ul li {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
}

.buyer ul li:hover {
    color: #292929; 
    cursor: pointer;   
}

.information h3 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.information ul li {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
}

.information ul li:hover {
    color: #292929; 
    cursor: pointer; 
}

.telephone h3 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.telephone ul li {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
}